{% extends 'base.html.twig' %}

{% block title %}Callendrier{% endblock %}
{% block stylesheets %}


{% endblock %}

{% block body %}

<a href="{{ path('calendar_new')}}" class="btn btn-danger">création d'évènement</a>

<div id="calendrier"></div>
{% endblock %}
{% block javascripts %}


{% endblock %}
