{% extends 'base.html.twig' %}

{% block title %} Term_Of_Sale{% endblock %}

{% block body %}
<main>
<div class="container">
                <!--contenus principal-->
                <div class="legal">

                        <h1 class="legal-title">Mentions légales</h1>

                        <i >En vigueur au 20/08/2020</i><br>

                        <p >Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance dans
                        l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site "Les Bâtisseurs de rêves" les
                        présentes mentions légales.
                        La connexion et la navigation sur le site (indiquer le nom du site) par l’Utilisateur implique acceptation intégrale et sans
                        réserve des présentes mentions légales.
                        Ces dernières sont accessibles sur le site à la rubrique « Mentions légales ».
                        </p>

                        <h2>ARTICLE 1 : L’éditeur </h2>

                        <p >L’édition et la direction de la publication du site "Les Bâtisseurs de rêves" est assurée par Ballesteros Thomas, domiciliée 1
                        allé Alberto santos dumont, dont le numéro de téléphone est 0685483405, et l'adresse e-mail bt95240@gmail.com.
                        </p>

                        <h2>ARTICLE 2 : L’hébergeur</h2>

                        <p >L'hébergeur du site ________________ est la Société ________________, dont le siège social est situé au
                        ________________ , avec le numéro de téléphone : ________________.
                        </p>

                        <h2>ARTICLE 3 : Accès au site</h2>

                        <p >Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et
                        pouvant découlant d’une nécessité de maintenance.
                        En cas de modification, interruption ou suspension des services le site "Les Bâtisseurs de rêves" ne saurait être tenu
                        responsable.
                        </p>

                        <h2>ARTICLE 4 : Collecte des données</h2>

                        <p >Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne
                        collecte aucune donnée concernant les utilisateurs.
                        </p>

                        <h2>ARTICLE 5 : Cookies</h2>

                        <p >L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son logiciel de
                        navigation.
                        En naviguant sur le site, il les accepte.
                        Un cookie est un élément qui ne permet pas d’identifier l’Utilisateur mais sert à enregistrer des informations relatives à
                        la navigation de celui-ci sur le site Internet. L’Utilisateur pourra désactiver ce cookie par l’intermédiaire des paramètres
                        figurant au sein de son logiciel de navigation.
                        </p>

                        <h2>ARTICLE 6 : Propriété intellectuelle</h2>

                        <p >Toute utilisation, reproduction, diffusion, commercialisation, modification de toute ou partie du site "Les Bâtisseurs de rêves",
                        sans autorisation de l’Editeur est prohibée et pourra entraînée des actions et poursuites judiciaires telles que
                        notamment prévues par le Code de la propriété intellectuelle et le Code civil.
                        </p>
                        
                        <!--CGV-->
                        <h1 class="legal-title">Les conditions générales de vente</h1>

                        <h2>Modalités d'achat</h2>
                        
                        <p >Pour commander les livres souhaités, entrez dans leur fiche produit, cliquez sur "Ajouter au panier" choisissez la quantité désirée dans votre panier.
                        
                        <h2>Modalités de paiement</h2>
                        
                        <p > Le paiement par carte Visa, Mastercard et accepté.</p>
                        
                        <h2>Expedition et délai de livraison</h2>
                        
                        <p > Le délais de livraison est estimé entre 4 et 6 jours ouvrés l'expediteur est "Chronopost".</p>
                        
                        <h2>Délais de rétractation</h2>
                        
                        <p >L'acheteur bénéficit d'un droit de rétractation de 14 jours à partir du lendemain de la réception du bien. </p>
                </div>
        </div>
</main>
{% endblock %}
