{% extends 'base.html.twig' %}
{% set title = "Ajouter un client - Facture 3000" %}

{% block title title %}

{% block body %}
<div class="container">

    <header class="page-header">
        <h2 class="page-title">{{ title }}</h2>
    </header>

    <div class="row">
        <div class="col-12">

            {% include "customer/_form.html.twig" %}

        </div>
    </div>
</div>
{% endblock %}