{% extends 'base.html.twig' %}

{% block title %}about_us{% endblock %}

{% block body %}

<main class="conatainer1" role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption  text-center">
            

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="50%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
        <div class="container">
          <div class="carousel-caption">
            
            
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
            <p >L'association (loi 1901) "Les Bâtisseurs de Rêves" est née en 1995 dans le but de créer un centre d'activités ludiques à Orléans et de promouvoir les jeux de simulation (jeux de rôle, jeux de plateau, jeux de cartes, jeux de figurines, etc.)
          La ville met à disposition des adhérents plusieurs locaux pour leur permettre de se rencontrer et d'organiser des parties. Nous nous réunissons à la Maison des Associations les samedis de 14h à 20h et au Foyer Saint Vincent les vendredis de 19h15 à 1h (adresses des locaux et heures d'ouverture).
            Dans notre association nous jouons à des jeux de simulation, c'est à dire des jeux conçus pour simuler une activité, tel qu'un sport, une campagne militaire, la résolution d'une énigme policière ou bien la gestion d'une entreprise ou d'un pays.<br> Ces jeux sont également appelés jeux de plateau car ils se jouent sur un plateau à l'aide de pions, de dés ou de cartes. Et puis il y a les jeux de rôle, qui constituent l'activité principale de notre association, dans lesquels les participants incarnent des personnages qui prennent part à des aventures plus ou moins mouvementées dans des univers très variés : L'Heroic Fantasy, la Science-Fiction, l'Aventure, le Fantastique contemporain...Vous trouverez sur notre site des informations plus détaillées sur notre association (dans la rubrique "Présentation des BDR").</p>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Les BdR s'affichent</h2>
        <p><a class="btn btn-secondary" href="http://lbdr.fr/lbdr/images/stories/Affiches/concours%20de%20scenarios.jpg" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
        <p>Voici une sélection d'affiches réalisées à l'occasion de certaines de nos manifestations</p>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Nos activités et jeux pratiqués</h2>
        <p class= "text-justify"></p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        <h2>Nos mascottes</h2>
        <p></p>
        <p><a class="btn btn-secondary" href="http://lbdr.fr/lbdr/images/stories/dracosir-2.jpg" role="button">mascotte 1 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="http://lbdr.fr/lbdr/images/stories/necronaze-2.jpg" role="button">mascotte 2 &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->

</main>


{% endblock %}


