{% extends 'base.html.twig' %}

{% block title %}Hello VueCalendarController!{% endblock %}

{% block body %}

<a href="{{ path('calendar_new')}}" class="btn btn-danger">création d'évènement</a>
  <div id='calendar'></div>


{% endblock %}
