<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Les bâtisseur de rêve">
    

    

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
   <nav class="navbar navbar-expand-lg navbar-light bg-primary">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Les Bâtisseurs de rêve<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="main">Les évènements</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="master">Maitre du jeux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="player">Les joueurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="game">Les jeux</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="album">album</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery">La gallerie</a>
      </li>
      
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
    </form>
  </div>
</nav>

        
            {% block body %}
          
            {% endblock %}
        

        <footer class="main-footer ">
<nav class="navbar fixed-bottom navbar-light ">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4"><a href="term_of_sale">mentions légales</a></div>
                <div class="col-md-4"><a href="https://www.facebook.com/BatisseursDeReves" target="_blank">facebook</a></div>
                <div class="col-md-4"><a href="support">contactez-nous</a></div>
                <div class="col-md-4"><a href="about_us">Qui sommes nous</a></div>
                <div class="col-md-4"><a href="product">Boutique</a></div>
                
            </div>
            <br>
            <p>© 2020 Les Bâtisseurs de rêves</p>
        </div>
</nav>
    </footer>

  
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
